<li class="dropdown messages-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-envelope-o"></i>
    <span class="label label-success">{{messages.length}}</span>
  </a>
  <ul class="dropdown-menu">
    <li class="header">You have {{messages.length}} messages</li>
    <li>
      <ul class="menu">
        <li ng-repeat="message in messages">
          <a href="#">
            <div class="pull-left">
              <img ng-src="assets/img/users/{{message.user.image}}" class="img-circle" alt="User Image">
            </div>
            <h4>
              {{message.user.name}}
              <small>
                <i class="fa fa-clock-o"></i>
                <span am-time-ago="message.created_at"></span>
              </small>
            </h4>
            <p>{{message.message}}</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="footer"><a href="#">See All Messages</a></li>
  </ul>
</li>
